.sidebar{
  height: 500px;
  width: 25%;
}

.body {
  color: red;
}

.text_color {
  font-size: 30px;
}

.dark_mode {
  background: linear-gradient(rgb(44, 44, 44),black);
  color: rgb(148, 148, 148);
}