.sidebar{
  height: 100%;
  width: 20%;
  background-color: antiquewhite;
}

.body {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.text_color {
  font-size: 30px;
}

.chat {
  width: 100%;
}

.dark_mode {
  background: linear-gradient(rgb(44, 44, 44),black);
  color: rgb(148, 148, 148);
}