.light {
    background-color: red;
}

.dark {
    background-color: blue;
}

.input {
    background-color: aliceblue;
    border: 2px solid gainsboro;
    border-radius: 30px;
    padding: 0 10px 0 10px;
    width: 75vw;
    height: 6vh;
    font-size: 20px;
}