.input {
    border: 2px solid gainsboro;
    border-radius: 30px;
    padding: 0 10px 0 10px;
    width: 75vw;
    height: 6vh;
    font-size: 20px;
}

.light {
    background-color: aliceblue;
    color: black;
}

.dark {
    background-color: rgb(53, 53, 53);
    color: white;
}