.primary {
    background-color: rgb(23, 163, 23);
    /* background-color: rgb(28, 190, 28); */
    margin: 20px 50px 0 auto;
    padding: 10px;
}

.secondary {
    background-color: rgb(164, 164, 170);
    margin: 20px auto 0 50px;
    padding: 10px;
}

.message {
    width: fit-content;
    min-width: 20px;
    max-width: 200px;
}

.primary_dark {
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(28, 190, 28); */
    margin: 20px 50px 0 auto;
    padding: 10px;
}

.secondary_dark {
    background-color: rgb(164, 164, 170);
    margin: 20px auto 0 50px;
    padding: 10px; 
}